/*** Exercise 1: Twitter CSS ***/

/*
#### You should not have to change the given property values. ###
*/

/*** Completed body style below ***/
body {
	background-color: #e6ecf0;
	margin: 0;
	font-family: Calibri;
}

#header {
	padding: 10px;
	background-color: white;
	text-align: center;
}

#header h1{
	padding-left: 3px;
}

#mainFrame{
	/* background-color: cyan; */
	padding-left :13px;
	margin-right: 13px;
}

#mainFrame ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#mainFrame ul li {
	font-size: 16px;
}

#bannerPic {
    position: absolute;
    margin-left: 92%;
}

#bannerPic img {

    height: 80%;
    width: 80%;
}

.timelineHeader {
	border-bottom: 1px solid grey;
}

.timelineHeader ul {
    margin: 0px;
    padding-left: 10px;
}

.timelineHeader ul li {
	padding: 5px;
	margin-right: 2px;
	font-size: 120%;
    font-weight: bold;

	/* Add properties below */
	display:inline-block;
}

.timelineHeader ul li a {
	color: blue;
	text-decoration: none;
}

#RPGContainer iframe{
    width: 1280px;
    height: 720px;
}
#currentTab {
	color: #000000;
}

.favoPic {
	height: 30%;
	width: 30%;
}

div#bigNumber {
	font-size: 70px;
	background-color: cyan;
	display: inline-block;
}

#elementCollection {
	border: 1px solid blueviolet;
	margin: 0px;
}

#elementCollection .added {
	border: 1px solid green;
}

#addElementForm {
	margin-bottom: 10px;
	margin-top: 10px;
}